@charset "UTF-8";

/*height: 100%;*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #1C1F26, #4D5359, #949DA6, #D9B6A3, #100B12);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    width: 500px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #DB741A;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #050629;
}
p{
    text-align: justify;
}