@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Honk&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap'); /*bebas neue*/

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

 body {
        font-family: var(--fonte-padrao);
        background-color: var(--cor0);
        margin: 0px;
    }

    header {
        background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
        box-shadow: 2px 2px 12px black;
        margin: 0px;
        padding: 10px 10px 0px 2px;
        min-height: 150px;
        padding-top: 40px;
    }

    header > h1 {
        font-family: var(--fonte-destaque);
        color: white;
        text-align: center;
        font-size: 3em;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px black;
    }

    header > p {
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 1.2em;
        max-width: 600px;
        padding-right: 10px;
        padding-left: 10px;
        margin: auto;
        text-shadow: 1px 1px 1px black;
    }

    nav {
        background-color: var(--cor5);
        padding: 10px;
        box-shadow: 1px 4px 5px black;
        padding: 0px;
    }

    nav > a {
        display: inline-block;
        color: white;
        margin-left: 10px;
        text-decoration: none;
        font-weight: bold;
        padding: 2px;
        padding: 10px;
        transition-duration: .5s;
    }

    nav > a:hover {
        background-color: var(--cor2);
        color: rgba(49, 92, 7, 0.459);
    }

    div.video {
        background-color: var(--cor5);
        margin: 0px -5px 30px -5px;
        padding: 20px;
        padding-bottom: 50%;

        position: relative;
    }

    div.video > iframe {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    }
    main {
        background-color: var(--cor0);
        padding: 5px 5px 30px 5px;
        margin: auto;
        margin-bottom: 20px;
        min-width: 320px;
        max-width: 1000px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    main > p {
        text-indent: 15px;
        text-align: justify;
    }

    main > h1 {
        font-family: var(--fonte-android);
        color: #003300;
    }

    main > h2 {
        background-image: linear-gradient(to right, var(--cor1), transparent);
        color: #003300;
        font-family: var(--fonte-android);
    }

    main a {
        color: var(--cor5);
         background-image: linear-gradient(to right, var(--cor3), transparent);
         text-decoration: none;
         padding: 2px 6px;
    }

    main a.externo::after {
        content: '\1F517';
    }

    main a:hover {
        text-decoration: underline;
    }

    main strong {
        color: #003300;
    }

    main img.pequena {
        max-width: 350px;
        margin: auto;
        display: block;
    }

    article {
        background-color: #05e469;
        border-radius: 9px 9px 0px 0px;
        padding: 10px;
    }

    article > ul {
        list-style-type: '\2714\00a0\00a0';
        list-style-position: inside;
        columns: 2;
    }

    article > h3 {
        background-color: #003300;
        color: white;
        padding: 5px;
        border-radius: 9px 9px 0px 0px;
        margin: -10px -10px 0px -10px;
    }

    article > p {
        text-indent: 15px;
        text-align: justify;
        padding-top: 10px;
    }

    footer {
        background-color: #003300;
        color: white;
        padding: 4px;
        text-align: center;
        font-size: 0.8em;
    }

    footer a {
        color: white;
        font-weight: bolder;
        text-decoration: none;
    }

    img {
        width: 100%;
        margin: auto;
    }