@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --font1: verdana, geneva, tohoma, sans-serif;
    --font2: 'Passion One', sans-serif;
    --font3: 'Sriracha', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--font2);
    height: 100vh;
    background-color: darkgray;
    background-repeat: repeat-y;
    background-position: center center;
    background-attachment: fixed;
}

header {
    background-color: black;
    color: white;
}

header > h1 {
    text-align: center;
    padding: 50px 50px 0px 50px;
    font-size: 10vw;
    font-weight: bold;
    font-variant: small-caps;
}

header > p {
    color: white;
    text-align: center;
    padding: 5px 0px 60px 0px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

.normal {
    background-color: white;
}

.imagem {
    color: white;
    background-color: rgb(49, 49, 49);
}

section.imagem > p {
    width: 400px;
    background-color: rgb(22, 22, 22);
}

section {
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    font-weight: lighter;
}