@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-image: url(imagens/background001.jpg), url(imagens/background002.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-attachment: fixed;
}

header {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    padding: 50px 50px 0px 50px;
}

header > p {
    color: white;
    text-align: center;
    padding: 10px 0px 60px 0px;
}
