@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: darkgray;
    background-repeat: repeat-y;
    background-position: center center;
    background-attachment: fixed;
}

header {
    background-color: black;
    color: white;
}

header > h1 {
    text-align: center;
    padding: 50px 50px 0px 50px;
    font-size: 2em;
    font-weight: bold;
    font-variant: small-caps;
}

header > p {
    color: white;
    text-align: center;
    padding: 5px 0px 60px 0px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

.normal {
    background-color: white;
}

.imagem {
    color: white;
    background-color: rgb(49, 49, 49);
}

section.imagem > p {
    width: 400px;
    background-color: rgb(22, 22, 22);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    font-weight: lighter;
}